<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>相册列表页面</title>
</head>
<body>
<h1>相册列表页面</h1>

<div>
    {% if request.session.login_user%}
    {% for album in album_list %}
    <div><img src="/{{album.cover}}" width="70" height="70"/></div>

    <div><a href="/album/{{album.id}}/detail/">查看相册详情</a></div>
    <div><a href="/photo/{{album.id}}/">进入相册</a></div>
    <div><a href="/album/{{album.id}}/delete/">删除相册</a></div>
    {% empty %}
    <div>当前用户还没有创建相册</div>
    {% endfor %}
    {% endif %}

</div>
</body>
</html>