<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的首页</title>
</head>
<body>
<h1>我的首页</h1>

<div>
<ul>
    {% if request.session.login_user %}
    <li><a href="/author/password/">修改登录密码</a></li>
    <li><a href="/article/publish/">发表文章</a></li>
    <li><a href="/article/{{author.id}}/article_list/">我的博文</a></li>
    <li><a href="/authorsay/{{request.session.login_user.id}}">我的说说</a></li>
    <li><a href="/message/{{request.session.login_user.id}}">我的留言板</a></li>
    <li><a href="/album/{{request.session.login_user.id}}">我的相册</a></li>
    <li><a href="/album/album_create/">创建相册</a></li>

    {% endif %}
</ul>
</div>

<div>
    <h2>我的文章</h2>
    <url>
        {% for article in author.article_set.all %}
        <li><a href="/article/{{article.id}}/detail/">{{article.title}}</a></li>
        {% empty %}
        <li>当前用户很懒没有发表文章</li>
        {% endfor %}
    </url>
</div>


<div>
    <h2>我的说说</h2>
    <url>
        {% for say in author.authorsay_set.all %}
        <li>{{say.content}}</li>
        {% empty %}
        <li>当前用户很懒没有发表说说</li>
        {% endfor %}
    </url>
</div>
</body>
</html>